
body{font: Verdana ,sans-serif; text-align:left}

p{font-family:Verdana, sans-serif}

a{padding:5px; text-decoration:none; color:#000000;}

div#navigation{
    position: relative; float:left}


ul.navbar{
	list-style-type: none; width: 14em;
    font-family: Verdana, sans-serif; padding: 0.5em}

    h1
		{ font-family: Verdana, sans-serif}
	ul.navbar li {
		background: #ccc8b3; Height: 2em; margin: 1em; padding: 0.5em; border-right: 1.5em solid rgba(237, 243, 7, 0.73)
    }
	ul.navbar a{
		text-decoration: none}
	a:link {
		color:blue}
	a:visited {
		color:purple}

a.gallery{max-height: 900px; max-width: 1200px}

div.divleft{float: left; clear: left}
div.divright{float:right; clear:right}

div#header{
    margin: 0.5em;
    height: 7em;
    padding-left: 0.5em;
    font-family: Verdana, sans-serif; color: white; font-size: 120%;
    background-color: #ccc8b3;}

div#container{
    position: relative; float: left; left: 5em;
    min-height: 60em;
    width: 60em;
    text-align:left;}

div#content{position: relative; float: right; clear: right;
    width: 40em;
    line-height:1.4;
    font-family: Verdana, sans-serif}

div#extra{
    position: relative;
    background:#ccc8b3;
    float:left;
    clear:left;
    width:15em;
	padding:0.5em}

div#footer{
    Position: relative; bottom: 0; margin-top: 52em;
    height: 3em;
    background:#ccc8b3;
    clear:both;
    width:100%;
    padding: 0.5em;
    text-align: center}



